<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>퍼그</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/tabfunc.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

</head>

<body>

<div id="header" align=center><h1> = 퍼그 = </h1></div>

<br>



{% block content%} {% endblock %}


    <div id="footer" align=right>
    <br>
    <br>
    
<!--    <a href="http://shibaboy.com" style="text-decoration:none" target="_blank">by shibaboy</a> -->
    </div>
</body>
</html>
